<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ClassAdministrationEntityContainer" connectionString="metadata=res://*/ClassAdministrationDatabase.csdl|res://*/ClassAdministrationDatabase.ssdl|res://*/ClassAdministrationDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SZARNYASG-PC\SQLEXPRESS;Initial Catalog=ClassAdministration;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>