<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TerembeosztoEntitasok" connectionString="metadata=res://*/Class-Administration-Database.csdl|res://*/Class-Administration-Database.ssdl|res://*/Class-Administration-Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SZARNYASG-PC\SQLEXPRESS;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>